body {

	margin: 25px;
	padding: 0;
	font-family: 'Arial';
}

.slick-grid {
	font-size: 12px;	
}

.interface {
	display: inline-block;
	background: #ffe8bf;
	padding: 10px;
	margin-bottom: 20px;
}

.slick-group-toggle {
	height: 9px;
	width: 9px;
	display: inline-block;
	cursor: pointer;
	margin-right: 6px;
}

.slick-group-toggle.expanded {
	background: url(images/collapse.gif) no-repeat center center;
}

.slick-group-toggle.collapsed {
	background: url(images/expand.gif) no-repeat center center;
}

.slick-group .slick-cell {
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.slick-cell, .slick-header-column {
	border: none !important;
	color: #666;
}

.slick-header-column {
	font-size: 10px;
	font-weight: bold;
}

.slick-cell.indent {
	padding-left: 16px;
}

.slick-group .slick-cell.indent {
	padding-left: 0px;
}

.slick-group-title .total {
	font-size: 12px;
	color: #999;
	font-weight: normal;
}



.time-range {
	margin: 0;
}

.time-range .axis text {
  font: 9px Tahoma;
  fill: #999;
  pointer-events: none;
}

.time-range .axis path {
  display: none;
}

.time-range .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.time-range .overlay {
  fill: #e1e4e8;
  fill-opacity: .7;
  /* stroke: #CCC; */
}

.time-range .darken {
  fill: #FFF;
  fill-opacity: 0;
}

.time-range .current, .detailed-time-range .current {
	fill: red;
	fill-opacity: .1;
	pointer-events: none;
}

.time-range .left-handle, .right-handle {
	fill: green;
	stroke: none;
	fill-opacity: .0;
	shape-rendering: crispEdges;
}

.time-range .grid line,
.time-range .grid path {
  fill: none;
  stroke: red; /*#e1e4e8;*/
  shape-rendering: crispEdges;
}

.chart {
	pointer-events: none;
	shape-rendering: crispEdges;	
}

.time-range .brush .extent {
  fill: green;
  fill-opacity: .05;
  /*
  stroke: green;
  stroke-opacity: 0.3;
  */
  shape-rendering: crispEdges;
}

.time-range .brush-length {
	fill: green;
	fill-opacity: 0.5;	
}

.time-range .brush .background {
	pointer-events: none;
}

.time-range .brush .resize {
	pointer-events: none;
}



.detailed-time-range {
	margin: 0;
}

.detailed-time-range .bg {
	fill: #f2f8f2;
}

.detailed-time-range .axis text {
  font: 9px Tahoma;
  fill: #999;
}

.detailed-time-range .axis path {
  display: none;
}

.detailed-time-range .axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}





svg.load-vis {
	shape-rendering: crispEdges;
	position: absolute;
	right: 9px;
}

svg.load-vis rect.day {
	fill-opacity: 0.5;	
}
svg.load-vis rect.day.zero {
	fill: black;
	fill-opacity: 0.08;
}
svg.load-vis rect.day.one {
	fill: green;
}
svg.load-vis rect.day.two {
	fill: orange;
}
svg.load-vis rect.day.three {
	fill: red;
}





svg.lane {
	shape-rendering: crispEdges;	
}

svg.lane .axis path {
  display: none;
}

svg.lane .axis line {
  stroke: #EDEDED;
}

svg.lane .axis text {
  font: 9px Tahoma;
  fill: #999;
}

.lane-header {
	padding: 0 !important;
}



